* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Caladea";
  font-size: 22px;
  margin: 0;
  background: #fefdfb;
}
.header-container {
  border: 1px solid #e65c4f;
  background-color: #98dad9;
  height: 100%;
  display: flex;
  /* box-shadow: 9px 9px 9px 9px #e65c4f; */

  margin: 20px;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

nav {
  align-self: flex-end;
}

.nav-container {
  display: flex;
  gap: 10px;
}

a {
  text-decoration: none;
  background-color: rgb(34, 166, 199);
  border: 1px solid aquamarine;
  font-size: large;
}

a:hover {
  color: rgb(0, 205, 137);
}

h1 {
  color: aquamarine;
  background-color: #6bbd99;
  width: 50vw;
  margin: auto;
  text-align: center;

  align-self: flex-end;
}

/* Jerry's remembrance page */

.carousel-container {
  position: relative;
  width: 55%;
  margin: auto;
  border: 5px solid black;
  overflow: hidden;
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 500px;
}

#previous {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  color: white;
  opacity: 0.7;
  font-size: 30px;
  cursor: pointer;
}

#next {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  color: white;
  opacity: 0.5;
  font-size: 30px;
  cursor: pointer;
}

#explanation {
  border: 2px solid blueviolet;

  color: blueviolet;
  text-align: center;
}

/* guest book css */
label,
textarea {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

/* label {
  display: block;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
} */

/* #name {
  height: 30px;
  width: 200px;
} */

.custom-field {
  font-size: 14px;
  position: relative;

  border-top: 20px solid transparent;
}

.custom-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 3px;
  width: 250px;
  font-size: 14px;
}

.custom-field .placeholder {
  position: absolute;
  left: 12px;
  bottom: 50%;
  top: 22px;
  color: #aaa;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  outline: none;
  resize: none;
  height: 150px;
  padding: 12px 20px;
  display: block;

  margin-left: auto;
  margin-right: auto;
  background: #f2f2f2;
  border: none;
  border-radius: 4px;
}

#msg-header {
  text-align: center;
  margin-top: 25px;
}

#send {
  margin-bottom: 5%;
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
    rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
    rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#send:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
    rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
    rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
    rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

#dataShow {
}

#commentCard {
  border: 2px solid #e65c4f;
}

#gb-title {
  width: 30%;
}

#commentContainer {
  border: 1px solid #e65c4f;
  background-color: #98dad9;
  border-radius: 5px;
  padding: 16px;
  margin: auto;
  overflow-wrap: break-word;
  width: 50%;
}

#commentContainer::after {
  content: "";
  clear: both;
  display: table;
}

#commentContainer span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  #commentContainer {
    text-align: center;
  }
}

#date {
  width: 200px;
  font-size: medium;
  color: #fdd037;
  background-color: #6bbd99;
}

#msg {
  color: #e65c4f;
  text-align: center;
}
